vaspout_27.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_28.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_29.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_12.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_17.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_21.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_24.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_26.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_5.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_8.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_32.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_36.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_37.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_43.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_44.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_14.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_25.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_33.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_45.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_7.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_42.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_11.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_15.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_16.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_3.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_40.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_23.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_31.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_49.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_19.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_20.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_34.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_10.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_13.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_38.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_41.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_47.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_4.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_46.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_48.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_1.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_2.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_22.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_35.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_39.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_50.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_9.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_18.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_30.h5 filter=lfs diff=lfs merge=lfs -text
vaspout_6.h5 filter=lfs diff=lfs merge=lfs -text
